.streamlit
test.ipynb
Objectes_populars.txt
plot_obs-planning.py
.devcontainer
optimized_images
raw_images
Pitch.odt
Pitch.pdf
Weather&IA.py
dades_meteorologiques.csv
jsonoutput.csv
plot_obs-planning.py
test.ipynb
unitats_meteorologiques.csv